In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats
from statistics import *
import collections
import tqdm
plt.style.use('Solarize_Light2') # Функция для задания стиля графикам

In [12]:
data = pd.read_excel('data2.xlsx', sheet_name = '1вар-адекв', header=None) # читаем из файла все выборки 
data# выводим их

     0       1       2       3      4
0    8  10.746  19.059  -1.541  6.924
1    8  10.220  16.557  -4.043  5.923
2    8   8.615  18.565  -2.035  6.726
3    8   4.791  18.115  -2.485  6.546
4    8   2.831  19.900  -0.700  7.260
5    9   5.483  21.785  -1.115  5.225
6    9   8.943  21.943  -0.957  5.288
7    9   4.172  20.092  -2.808  4.548
8    9   4.239  21.200  -1.700  4.991
9    9  13.267  22.742  -0.158  5.608
10  10  16.297  23.352  -1.648  3.341
11  10  21.060  25.383   0.383  4.153
12  10  18.620  23.700  -1.300  3.480
13  10   6.106  25.040   0.040  4.016
14  10   9.333  24.032  -0.968  3.613
15  11   1.098  27.557   0.657  2.714
16  11  15.807  28.405   1.505  3.053
17  11  12.563  25.842  -1.058  2.028
18  11  11.233  30.560   3.660  3.915
19  11  10.654  30.392   3.492  3.848
20  12   8.172  30.554   1.954  1.755
21  12   4.131  30.866   2.266  1.880
22  12  10.204  33.228   4.628  2.824
23  12  19.150  31.926   3.326  2.304
24  12  10.114  32.505   3.905  2.535
25  13   2.253  34.584   4.484  1.326
26  13   3.584  37.888   7.788  2.648
27  13  11.044  31.253   1.153 -0.006
28  13  10.702  38.563   8.463  2.918
29  13  12.102  34.618   4.518  1.340
30  14  10.703  37.962   6.562  0.728
31  14  19.595  42.786  11.386  2.657
32  14  11.853  38.007   6.607  0.746
33  14  13.366  40.273   8.873  1.652
34  14  10.247  38.584   7.184  0.976